<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html" charset="utf-8" lang="zh-CN">
    <title>登录系统</title>
    <script src="/static/javascripts/jquery.min.js"></script>
    <style>
      html, body {
        height: 98%;
        font-family: arial,sans-serif;
      }
      footer {
        position: absolute;
        text-align: center;
        font-size: 0.9em;
        left: 50%;
        right: 50%;
        margin-left: -40%;
        margin-right: -40%;
        bottom: 10px;
        margin-top: 11%;
      }
      #main-body {
        width: 100%;
        height: 65%;
        display: flex;
        flex-flow: column;
        align-items: center;
      }
      #form-body {
        height: 300px;
        width: 700px;
        margin: auto auto 0 auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        overflow: hidden;
        border: solid 2px gray;
        border-radius: 6px;
        position: relative;
        /*background-color: whitesmoke;*/
      }
      .bg-blur {
        margin: -10px;
        /*position: absolute;
        width: 1000px;
        height: 1000px;*/
        background-color: white;
        opacity: .75;
        filter: blur(3px);
      }
      .form-box {
        z-index: 11;
        margin: auto;
        padding: 30px;
        border-radius: 4px;
      }
      form {
        padding: 5px;
        margin: 0;
      }
      form input, label {
        font-size: 1.3em;
        padding: 10px;
      }
      form input {
        border: 1px solid #dddddd;
        border-radius: 4px;
      }
    </style>
  </head>

  <body>
  <div id="main-body">
    <div id="form-body">
      <img class="bg-blur" src="/static/images/bg.jpeg"
           style="height: auto; width: auto; max-width: 800px; position: absolute">
      <div class="form-box">
        <form>
          <table>
            <tr>
              <td width="75px" height="55px"><label>帐 号</label></td>
              <td>
                <input name="UserNo" id="UserNo" maxlength="25" placeholder="ID">
              </td>
            </tr>
            <tr>
              <td height="55px"><label>密 码</label></td>
              <td>
                <input name="password" id="password" type="password" maxlength="25" placeholder="password">
              </td>
            </tr>
            <tr>
              <td></td>
              <td height="55px" style="padding-top: 5px;">
                <input type="button" onclick="check();" value="登录"
                       style="text-align: center; width: 100%; height: auto">
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>

    <div style="margin: 0 -26% 5vh 5%; padding: 5px; text-align: right">
      <%
      let date = [time.getFullYear(),
                time.getMonth(),
                time.getDate()].join("-")
              + " " + [time.getHours(),
                time.getMinutes(),
                time.getSeconds()].join(":");
      let h = time.getHours();
      let oha;
      if (h < 12 && h >= 8)
        oha = "早上";
      else if (h < 14)
        oha = "中午";
      else if (h < 18)
        oha = "下午";
      else
        oha = "晚上";
      %>
      服务器时间: <%= date %> <%= oha + "好" %>
    </div>

  </div>

  <footer>
    <p>
      显示器分辨率要求≥1024*768。使用Firefox浏览器（<a href="http://ftp.mozilla.org/" target="_blank">官网下载</a>），
      <wbr>可以获得最佳显示效果，Chrome次之，IE浏览器要求10或以上版本，其他浏览器较慢且有卡顿现象。
    </p>
  </footer>

  <script>
    $(function() {
      let id = localStorage.getItem("K2422");
      if (id !== null) {
        $("#UserNo").val(id);
      } else {
        console.log("No User Before.")
      }
    })

    function check() {
      let id = $("#UserNo").val();
      let password = $("#password").val();
      if (id === "" || password === "") {
        alert("用户名和密码不能为空。")
      } else {
        $.ajax({
          type: "get",
          url: "/check",
          data: {
            id: id,
            password: password
          },
          error: function (err) {
            alert("请求出错.\n" + err);
          },
          success: function (data) {
            if (data.ok === 1) {
              alert("登录成功: " + data.name);
              localStorage.setItem("K2422", id);
            } else {
              alert("失败: " + data.msg);
            }
          }
        })
      }
    }
  </script>

  </body>
</html>
